*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-main{
    display: flex;
    justify-content: center;
    height: 120vh;
    align-items: center;
    flex-direction: column;
}

.car-container{
    width: 70%;

    min-height: 80%;
    border-radius: 25px;

    padding: 30px 40px;
    border: 2px solid black;
    overflow: hidden;
    background: linear-gradient(white, white) padding-box, linear-gradient(140deg, black, red) border-box;
    border: 2px solid transparent;

}

.car-container .car-title{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 35px;
    font-weight: 500;
}

.produto-cart-container{
    display: flex;
    height: 200px;
    align-items: center;
    margin: 20px 0;
    
    padding: 0 40px;
    justify-content: space-between;
}

.produto-cart-container .image-desc{
    height: 100%;
    display: flex;
    align-items: center;
}

.produto-cart-container .image-desc img{
    height: 100%    ;
    margin-right: 15px;
    object-fit: contain;
    
}

.produto-cart-container .desc p{
    font-family: 'Inter', sans-serif;
}

#title-produto{
    font-size: 20px;
    font-weight: bold;
}

.produto-cart-container .price p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 25px;
}

#first{
    margin-top: 0;
}

.container-main .car-container .button-checkout{
    display: flex ;
    justify-content: flex-end;

}

.button-checkout a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 12px;
    background-color: rgba(128, 128, 128, 0.315);
    font-family: 'Roboto';
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.467);
    margin-right: 45px;
    font-size: 20px;
}

@media (max-width: 1100px){
    .image-desc img{
        height: 70% !important;
    }

    .car-container {
        width: 90%;
        padding: 20px 30px;
        margin-top: 50px;
    }

    .price p {
        font-size: 20px !important;
    }

    .container-main{
        height: auto;
    }

}

@media (max-width: 700px){
    .image-desc img{
        height: 50% !important;
    }

    .car-container {
        width: 95%;
        padding: 10px 15px;
        margin-top: 50px;
    }

    .price p {
        font-size: 18px !important;
    }

    .produto-cart-container{
        padding: 0 20px ;
        margin: 0;
    }

    #title-produto{
        font-size: 16px;
    }

    .container-main{
        height: auto;
    }
    
}

@media (max-width: 500px){
    .image-desc{
        flex-direction: column;
        justify-content: center;
    }

    .image-desc p{
        text-align: center;
        
    }

    .image-desc img{
        margin-right: 0 !important;
    }

    .car-title{
        font-size: 30px !important;
    }

    .car-container{
        height: auto !important;
        box-sizing: border-box;
    }

    .button-checkout{
        justify-content: center !important;
    }

    .button-checkout a{
        margin: 10px 0;
    }
}
