*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-main {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.container-produto{
    width: 1000px;
    margin: 0 auto;
    height: 550px;
    border-radius: 25px;
    display: flex;
    padding: 30px 10px;
    border: 2px solid black;
    justify-content: space-between;
    background: linear-gradient(white, white) padding-box, linear-gradient(140deg, black, red) border-box;
    border: 2px solid transparent;
    align-items: center;
}

.container-produto .img {
    width: 50%;
    padding: 15px;
}

.container-main .container-produto .img-main  {
    width: 80%;
    margin: 0 auto;
}

.container-main .container-produto .img-main img {
    width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.container-main .container-produto .container-infos{
    width: 50%;
    padding: 15px;
}

.img  .img-miniatura {
    display: flex;

    justify-content: space-around;
}

.img .img-miniatura .img-min {
    width: 20%;
}

.img .img-miniatura .img-min img {
    width: 100%;
    object-fit: contain;
}

.container-infos .infos h2{
    font-family: 'roboto';
    font-size: 45px;
}

.container-infos .infos h3{
    font-family: 'roboto';
    font-size: 30px;
    font-weight: 400;
    margin-top: 8px;
}

.container-infos .infos .descricao{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}

.container-infos .infos .size-title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 10px;
}

.container-infos .qtt-title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}


.container-infos .infos .sizes{
    display: flex;
}

.container-infos .infos .sizes .size{
    padding: 12px;
    background-color: #7777;
    margin-left: 5px;
    border-radius: 10px;
}


.container-infos .infos .sizes .size p{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.button-qtt{
    display: flex;
}

.button-qtt .button-left, .qtt{
    padding: 2px 18px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.button-qtt .button-left, .button-right {
    background-color: rgba(128, 128, 128, 0.442);
    cursor: pointer;
}

.button-qtt .button-right{
    padding: 2px 18px;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    font-size: 20px;

}


.infos .add-car{
    margin-top: 25px;
}
.infos .add-car .add, .back{
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: #7777;
    margin-right: 30px  ;
    cursor: pointer;
}

.container-infos .img-main{
    display: none;
}


@media (max-width: 1000px){
    .container-main .container-produto .img{
        display: none !important;
    }

    .container-infos .img-main{
        display: block;
        margin: 0 !important;
    }

    .container-produto{
        width: 600px;
        height: auto;
        margin-top: 50px;

    }

    .container-infos{
        width: 100% !important;
    }

    .container-infos .infos{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-main{
        display: block;
    }

}

@media (max-width: 600px){
    .container-main .container-produto .img{
        display: none !important;
    }

    .container-infos .img-main{
        display: block;
        margin: 0 !important;
    }

    .container-produto{
        width: 350px;
        height: auto;
        margin-top: 50px;
        padding: 10px 20px;

    }

    .container-infos{
        width: 100% !important;
    }

    .container-infos .infos{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-main{
        display: block;
    }

    .infos .sizes .size p{
        font-size: 12px !important;
    }

    .back{
        display: none;
    
    }

    .add-car .add{
        margin: 0 !important;
    }

}